<!DOCTYPE html>
<html lang="en">
<head>
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/bootstrap-material-design/dist/js/material.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="static/js/models/scan.js"></script>
<script src="static/js/site.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="static/bootstrap-material-design/dist/css/material.min.css"/>
<link rel="stylesheet" type="text/css" href="static/bootstrap-material-design/dist/css/material-wfont.min.css"/>
<link rel="stylesheet" type="text/css" href="static/css/site.css"/>
</head>
<body>
<!--
TODO: Add download/close icons on list items using glyphs
TODO: Add checkboxes to list items and download selected at bottom
-->
<div class="container-fluid">
  <div class="app-alerts alert-container"></div>
  <div class="row">
    <div class="col-md-4">
      <img src="http://placehold.it/315x150"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-4 well" >
        <span class="app-imagepreview preview-container">
            <img src="http://placehold.it/219x301"/>
        </span>
    </div>
    <div class="col-md-3">
      <div class="list-group" data-bind="if: scans().length == 0">
        <div class="list-group">
            <a class="list-group-item">
            <span>No scans</span>
            </a>
        </div>
      </div>
      <div data-bind="if: scans().length > 0">
          <div class="list-group">
            <div class="list-group-item list-group-header">
              <div class="row-action-primary checkbox">
                  <label>
                      <input class="bs-material" type="checkbox" data-bind="checked: allSelected"></input>
                      <span class="check" data-bind="click: toggleSelectAll, clickBubble: false"></span>
                  </label>
              </div>
              <div class="row-content">
                  <h4 class="list-group-item-heading">All scans</h4>
              </div>
              <div class="row-action-secondary">
              </div>
            </div>
            <div class="list-group-separator"></div>
          <!-- ko foreach : scans -->
            <a class="list-group-item" data-bind="click: $parent.showScan, clickBubble: false">
                <div class="row-action-primary checkbox" data-bind="clickBubble: false">
                    <label>
                        <input class="bs-material" type="checkbox" data-bind="checked: multiSelected"></input>
                        <span class="check" data-bind="click: toggleMultiSelected, clickBubble: false"></span>
                    </label>
                </div>
                <div class="row-content">
                    <h4 class="list-group-item-heading" data-bind="text: filename"></h4>
                    <p class="list-group-item-text" data-bind="text: filename"></p>
                </div>
                <div class="row-action-secondary"  data-bind="clickBubble: false">
                    <div class="item-control-container item-control-container-right" style="margin-left:auto">
                        <i class="item-control icon-material-file-download" data-bind="click: $parent.downloadScan, clickBubble: false"></i>
                        <i class="item-control icon-material-delete" data-bind="click: $parent.deleteScan, clickBubble: false"></i>
                    </div>
                </div>
            </a>
            <div class="list-group-separator"></div>
          <!-- /ko -->
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="btn-group">
        <button type="button" class="btn btn-default" data-bind="click: preview">Preview</button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newScan">New Scan</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="newScan" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-title">New scan</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline" role="form" action="" method="post">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-file"></span></span>

            <div class="form-group">
              <input size="50" maxlength="50" class="form-control" type="text" data-bind="value:filename" placeholder="Enter filename">          
            </div>

            <div class="form-group">
              <select class="form-control" name="category" data-bind="value:filetype">
                <option value=".png">.png</option>
                <option value=".jpg">.jpg</option>
              </select>           
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary"  data-bind="click: newScan" data-dismiss="modal">Scan</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
