.item-control-container-right {
  float: right;
}

.item-control-container {
  display: inline;
}

.item-control:hover {
  color: black;
}

.item-control {
  cursor: pointer;
  font-size: 12pt;
  color: #888;
  padding: 3px;
}

.preview-container {
    width: 219px;
    height: 301px;
}

.preview-container img {
  width: 100%;
  height: 100%;
}

.alert-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  z-index: 9999; 
}

.list-group .list-group-item {
    padding: 2px 16px;
    cursor: pointer;
}

.row-action-secondary {
    float: right;
    padding-left: 16px;
    display: block;
    width: 56px;
}


.list-group .list-group-item .row-content {
    min-height: 33px;
}

.list-group-header div {
    min-height: 0px;
    height: 5px;
    margin-bottom: 0;
    margin-top: 0;
}